/* Styling for the container div */
div {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styling for the table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Styling for buttons and inputs */
  button {
    margin: 5px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  input[type="number"] {
    width: 50px;
    text-align: center;
  }

  .redVal {
    background-color: #ff8a8a;
}

.yellowVal {
    background-color: yellow;
}

.greenVal {
    background-color: lightgreen;
}

.blueVal {
    background-color: #1584ce;
}